.bg{
    width: 100%;
    height:auto;
	min-height: fit-content;
    background-color: #ECB390;
    background-size: 100% 100%;
    background-position: top center;
  }
.bg-content{
    width: 100%;
    height:auto;
	min-height: 100vh;
    background-color: #ECB390;
    background-size: 100% 100%;
    background-position: top center;
  }
.btn-mate{
    background-color: #FFF2F2;
    color: #ECB390;
    font-weight: bold;
}
.btn-mate:hover{
    background-color: #ECB390;
    color: #FFF2F2;
}
.text-logo{
    color: #130091;
}
.text-logo:hover{
    color: #130091;
    text-decoration: none;
}
.text-form{
    color: #FFF2F2;
    font-weight: bolder;
}
.text-form-label{
    color: #EFFFFD;
    font-weight: bolder;
}
.text-header{
    color: #130091;
    font-size: xx-large;
    font-weight: bolder;
}
.text-footer{
    color: #130091;
    font-size: small;
    font-weight: bolder;
}
.text-footer:hover{
    text-decoration: none;
    color: #ECB390;
}
.btn-submit{
    background-color: #130091;
    color: #FFF2F2;
    font-weight: bold;
}
.btn-submit:hover{
    background-color: #FFF2F2;
    color: #130091;
}
.text-pyche{
    color: #130091;
}
h3 {
    overflow: hidden;
    text-align: center;
  }

h3:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 80%;
  }
/* h3 {
    overflow: hidden;
  }

h3:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 80%;
  } */
.error {
    color: #1B2430;
}
.line{
    width: 1px;
    min-height: 100px;
    border-left: thick solid#130091;
}
